# Ignore TFX cache and temp files
kstarid-pipeline/**/Transform/updated_analyzer_cache/
kstarid-pipeline/**/.temp/
kstarid-pipeline/**/metadata.db
kstarid-pipeline/**/*.db
kstarid-pipeline/**/*.db-*

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model serving files (optional, if you want to include these in submission)
# serving_model/

# Ignore TensorBoard logs
**/logs/

.venv